* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.carousel-scene{
  height: 100vh;
  width: 100%;
  perspective: 1600px;
  overflow: hidden;
}
.carousel{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform-style: preserve-3d;
  animation: spin 18s linear infinite;
}

.carousel-item {
  height: 25%;
  width: 14%;
  position: absolute;
}

.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carousel-item:nth-child(1){
  transform: rotateY(0deg) translateZ(400px);
}
.carousel-item:nth-child(2){
  transform: rotateY(36deg) translateZ(400px);
}
.carousel-item:nth-child(3){
  transform: rotateY(72deg) translateZ(400px);
}
.carousel-item:nth-child(4){
  transform: rotateY(108deg) translateZ(400px);
}
.carousel-item:nth-child(5){
  transform: rotateY(144deg) translateZ(400px);
}
.carousel-item:nth-child(6){
  transform: rotateY(180deg) translateZ(400px);
}
.carousel-item:nth-child(7){
  transform: rotateY(216deg) translateZ(400px);
}
.carousel-item:nth-child(8){
  transform: rotateY(252deg) translateZ(400px);
}
.carousel-item:nth-child(9){
  transform: rotateY(288deg) translateZ(400px);
}
.carousel-item:nth-child(10){
  transform: rotateY(324deg) translateZ(400px);
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to{
    transform: rotateY(360deg);
  }
  
}